/* * {
    outline: solid 1px black;
    } */
    
    @font-face {
        font-family: "Graffonti";
        src: url(/InkMap/fonts/Graffonti.ttf);
    }
    @font-face{
        font-family: "Docallisme";
        src: url(/InkMap/fonts/Localidad/DOCALLISME\ ON\ STREET.ttf);
    }
    
    html {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100vw;
        background-image: url(/InkMap//img/fondos/estilos/tradicional/fondo1.jpg);
        background-size: cover; /* Hace que la imagen cubra toda el área sin distorsionarse */
        background-position: center; /* Centra la imagen en la página */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-attachment: fixed;
    }
    
body {
    height: 200vh;
}


.tituloPrincipal {
    color: white;
    font-family: "Graffonti";
    font-size: clamp(30px, 3vw, 5vw);  
    position: relative;
    text-shadow: 0.25vw 0.25vw 0.25vw black;
    margin-left: 12vw;
    width: 100vw;
    top: 1vw;
}



.header {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.containerHeader {
    position: relative;
    width: 100vw;
    height: 14vh;
    background-color: #4e0000;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    position: relative;
    left: 10vw;
    width: 20vw;
    height: 4vw;
    border: 1px solid black;
}
.menu {
    position: relative;
    display: flex;
    width: 90vw;
}

.nav {
    position: relative;
    margin: auto;
    width: 65vw;
    padding-left: 10vw;
    z-index: 100;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: #4e0000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: clamp(16px, 1.25vw, 3vw);
}

.nav li a:hover {
    background-color: #fff;
    color: #000;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.inicio, .localidad, .experiencia, .estilo {
    float: left;
    margin-right: 5vw;
}

.containerBody {
    position: relative;
    display: flex;
    /* border: 2px solid black; */
    height: 80vh;
    top: 14vh;
    align-items: center;
}

aside {
    position: fixed;
    display: flex;
    /* top: 22.5vh; */
    width: 10vw;
    height: 55vh;
    outline: 3px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;  
}


article {
    position: relative;
    width: 78vw;
    height: 60vh;
    top: -2vw;
    left: 13vw;
    margin-left: 3vw;  
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #4e0000;
    width: 100vw;
    bottom: -2vw;
    height: 18vh;
}


.Bga{
    font-family: "Docallisme";
    font-size: clamp(30px, 3vw, 5vw);  
    position: relative;
    margin-left: 30vw;
    width: 100vw;
    top: -3vw;
    color: white;
}
.mainContainer {
    display: flex;
    flex-direction: column;

}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin-left: 2vw;
    width: 30%;
    top: -1.5vw;
}

.card:hover {
    transform: translateY(-1.3vw); /* Eleva la tarjeta ligeramente */
    box-shadow: 0 20px 30px rgb(165, 165, 165); /* Sombra más fuerte al pasar el cursor */
  }

/* Estilo de la imagen */
.card-image img {
    object-fit: cover; /* La imagen se ajusta para llenar el contenedor sin distorsionarse */
  }

/* Estilo del contenido de la tarjeta */
.card-content {
    padding: 15px;  /* Espaciado interno */
    font-family: 'Arial', sans-serif; /* Tipografía personalizada */
  }


.Bga {
    width: 30%;
}

/*-----------------------------------------------------media 768-------------------------------------------------*/

@media (max-width: 768px){
    .menu {
        display: none;
    }

html {	
height: 410vh;
}
   
.tituloPrincipal {
font-size: clamp(30px, 10vw, 12vw);
}

.logo {
height: 12vw;
left: 8vw;
}

aside {
width: 91vw;
height: 22vh;
top: 59.5vh;
z-index: 999;
}

.cards {
flex-direction: column;
}

.card {
width: 85%;
left: -0vw;
}

.Bga {
right: 8vw;
position: relative;
width: 40vw;
}

}