/* * {
    outline: solid 1px black;
    } */
    
    @font-face {
        font-family: "Graffonti";
        src: url("../fonts/Graffonti.ttf");
    }
    
    html {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    
    body {
        height: 200vh;
        background-image: url("../img/fondos/fondo-inicial.jpg");
        background-position: center center;

        background-attachment: fixed;
}

.tituloPrincipal {
    font-family: "Graffonti";
    font-size: clamp(30px, 3vw, 5vw);  
    position: relative;
    text-shadow: 0.25vw 0.25vw 0.25vw black;
    margin-left: 12vw;
    width: 100vw;
    top: 1vw;
}

.header {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.containerHeader {
    position: relative;
    width: 100vw;
    height: 14vh;
    background-color: #4e0000;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    position: relative;
    left: 10vw;
    width: 20vw;
    height: 4vw;
    border: 1px solid black;
}
.menu {
    position: relative;
    display: flex;
    width: 90vw;
}

.nav {
    position: relative;
    margin: auto;
    width: 65vw;
    padding-left: 10vw;
    z-index: 100;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: #4e0000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: clamp(16px, 1.25vw, 3vw);
}

.nav li a:hover {
    background-color: #fff;
    color: #000;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.inicio, .localidad, .experiencia, .estilo {
    float: left;
    margin-right: 5vw;
}

.containerBody {
    position: relative;
    display: flex;
    /* border: 2px solid black; */
    height: 80vh;
    top: 14vh;
    align-items: center;
}

aside {
    position: fixed;
    display: flex;
    /* top: 22.5vh; */
    width: 10vw;
    height: 55vh;
    outline: 3px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;  
}


article {
    position: relative;
    width: 78vw;
    height: 55vh;
    /* top: 5vw; */
    left: 13vw;
    background-color: transparent;
    margin-left: 3vw;  
}

footer {
    position: fixed;
    display: flex;
    background-color: #4e0000;
    width: 100vw;
    height: 18vh;
    top: 85vh;
}

.estiloPopular {
    position: relative;
    top: 1vw;
    text-align: center;
    color: black;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    bottom: 4vw;
    margin-left: 2vw;
    width: 90%;
}

.nombreTatuador {
    position: relative;
    bottom: 3vw;
    text-align: center;
    color: white;
}

.subtitle {
    line-height: 25px;
}

#img1 {
    margin-left: 2vw;
}
#img2 {
    margin-left: 1vw;
}
#img3 {
    margin-left: 1vw;
}
#img4 {
    margin-left: 1vw;
}
#img5 {
    margin-left: 1vw;
}

#tatuadorImg {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 1vw;
}

#tatuador2Img {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 1vw;
}

#tatuador3Img {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 1vw;
}

#tatuador4Img {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 1vw;
}

#tatuador5Img {
    position: relative;
    display: flex;
    width: 12vw;
    margin-left: 1vw;
}

#JPT {
    position: relative;
    width: 12vw;
    top: 5vw; 
}